language: node_js
cache: yarn
node_js:
  - "8"
  - "9"

script: yarn test

jobs:
  include:
    - stage: npm
      node_js: "8"
      if: tag =~ ^v\d.*
      deploy:
          provider: npm
          script: yarn build
          email: "jondotan@gmail.com"
          skip_cleanup: true
          api_key:
            secure: "ap23K8mc1YB0fkJ5GXsR4oBea8Znm6Mbs3eccN0sOOKCckGAETZGwUpuSjFCXMZx+RGDiqnAMwoUDRY42GP8hCxdwXOdjhOviuJiJSiJzynVFBvFoCL+kUerBVXXCO6UDNbBk9HkTI2MjriS4C5aRYT/dMlzJAj5u5khHd7A9GAZbb0w5BDZ00gw9dW49oNx5rfVD7QOUmNMz+0OvyY8x+46MCJlGn+4bVt6mdDUqfLo3+FegAcj0PeaWdbNHnvhmUwrsP/lj9LZSPFbviuyHDKxrKQ2irnEHNa5kL2qksqpnfXkTP1OZdY6rb4JGz5180f/k+sOeBRyaHfBMZektQmICHq2b/ZxUzdme/YwUJzR2ijI12HFoNG8aAIRM4hYt/cjpzQ7NoFNRaMXb464Cp0g7ijI2nOM0+LOKlecfT/clZ4HjmkNGfKY9iGs8Cv7trD0mQwGNnUV2vsAAnMnbrPPfsfL/A7gq/s7tKek+ikAQFT+kCLrMH/ltZ73dRqXzk9//Ax2vKTbgP4Yl67AaXklvj7pa2+CnfBNwLll1c/knlQWxsk1zK18dqgHs3Cev/eHXwz/mfe3PKdppt0EfOIP0amXUj4yoytU26F5QUhNH68/azhBjWn5gL5tIfPldFKLZz88WIB+gtAAfG1ZuN5vWFmJIc4NmwS1jkMsb6s="
          on:
            tags: true
#    - stage: docs
#      script: yarn docs:prepare && yarn docs:build
#      node_js: "8"
#      deploy:
#        provider: pages
#        local-dir: hygen.io/public
#        skip-cleanup: true
#        github-token: $GITHUB_TOKEN  # Set in travis-ci.org dashboard, marked secure
#        keep-history: true
#    - stage: binary releases
#      script: yarn standalone
#      if: tag =~ ^v\d.*
#      node_js: "8"
#      deploy:
#        provider: releases
#        api_key: $GITHUB_TOKEN
#        file_glob: true
#        file: standalone/*
#        skip_cleanup: true
#        on:
#          tags: true
